.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
}

#pseudo,
#mail,
#passe {
  border-right-color: rgb(0, 0, 0);
  width: 50vw;
  height: 5vh;
  margin: 2rem;
}

.validate {
  background-color: #242423;
  margin-top: 2rem;
}

.suivant {
  color: #e9c46a;
  width: 50vw;
}
