.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
}

#pseudo,
#mail,
#passe {
  border-right-color: rgb(0, 0, 0);
  width: 50vw;
  height: 5vh;
  margin: 2rem;
}

.validate {
  display: block;
  min-width: 150px;
  color: #e9c46a;
  background-color: #242423;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
}

.validate:hover {
  background-color: #e9c46a;
  color: #242423;
}
