.menus-titles1::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 5px solid #0081c8;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
}
.menus-titles2::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 5px solid black;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
}
.menus-titles3::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 5px solid red;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
}
.menus-titles4::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(193, 160, 30);
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
}
.menus-titles5::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 5px solid green;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
}

.menus-titles1,
.menus-titles2,
.menus-titles3,
.menus-titles4,
.menus-titles5 {
  font-size: 20px;
}

.listMenus {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.favorisé {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.favor {
  display: flex;
  margin-left: 5rem;
  flex-direction: row;
  margin-bottom: 5rem;
}

.menuList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
}

.détail {
  font-size: 15px;
  margin-left: 5rem;
}

.épiceries {
  border-radius: 2rem;
  width: 70vw;
  height: 50vw;
  align-self: center;
}

@media only screen and (max-width: 520px) {
  .favorisé {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .épiceries {
    width: 80vw;
    height: 60vw;
    align-self: center;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 720px) {
  .favor {
    margin-left: 20rem;
  }
}
