.create-menu {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: auto;
  margin: 20px auto;
}

.create-menu h1,
.create-menu h2 {
  text-align: center;
  color: #333;
}

.create-menu form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create-menu select,
.create-menu textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.create-menu select {
  height: 40px;
}

.create-menu textarea {
  min-height: 40px;
  resize: none;
  overflow: hidden;
}

.create-menu button {
  display: block;
  min-width: 100px;
  color: #e9c46a;
  background-color: #242423;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  margin: 0 auto;
}

.create-menu button:hover {
  background-color: #e9c46a;
  color: #242423;
}

@media screen and (min-width: 1000px) {
  .create-menu {
    max-width: 75%;
  }
}
