.continents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 1rem;
}

.welcome {
  width: 70%;
  border: 2px solid #242423;
  border-radius: 5vw;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.6vw;
  width: 50%;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
  border-radius: 50px;
}

.new-menus {
  font-size: 2.5vw;
  margin: 1rem;
}

.continents1,
.continents2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.continents1 div,
.continents2 div {
  margin: 0 5px;
}

.europe,
.afrique,
.amerique,
.asie,
.oceanie {
  border-radius: 50%;
}

.cercles {
  margin: 25px;
}

@media only screen and (max-width: 720px) {
  .europe,
  .afrique,
  .amerique,
  .asie,
  .oceanie {
    width: 25vw;
    height: 25vw;
  }

  .europe {
    border: 0.6vw solid #0081c8;
  }

  .afrique {
    border: 0.6vw solid #242423;
  }

  .amerique {
    border: 0.6vw solid #ee334e;
  }

  .asie {
    border: 0.6vw solid #e9c46a;
  }

  .oceanie {
    border: 1vw solid #00a651;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container img {
    display: block;
  }

  .image-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px;
    color: black;
    font-size: 3vw;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 50px;
  }

  .image-container h2 a {
    color: inherit;
    text-decoration: none;
  }
  .new-menus {
    font-size: 3vw;
    margin: 1rem;
  }

  .welcome-text {
    font-size: 3vw;
  }
}

@media screen and (min-width: 520px) {
  .europe,
  .afrique,
  .amerique,
  .asie,
  .oceanie {
    width: 20vw;
    height: 20vw;
  }

  .europe {
    border: 0.6vw solid #0081c8;
  }

  .afrique {
    border: 0.6vw solid #242423;
  }

  .amerique {
    border: 0.6vw solid #ee334e;
  }

  .asie {
    border: 0.6vw solid #e9c46a;
  }

  .oceanie {
    border: 0.6vw solid #00a651;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container img {
    display: block;
  }

  .image-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px;
    color: black;
    font-size: 3vw;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 50px;
  }

  .image-container h2 a {
    color: inherit;
    text-decoration: none;
  }
}
