.navbar {
  justify-content: center;
  padding: 0;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3px;
}

.nav-item {
  margin: 0 10px;
  position: relative;
}

.nav-link {
  display: block;
  min-width: 150px;
  color: #e9c46a;
  background-color: #242423;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.nav-link.active {
  background-color: #242423;
  color: #e9c46a;
}

.nav-link.active:hover {
  background-color: #e9c46a;
  color: #242423;
}

.dropdown-toggle {
  display: block;
  min-width: 150px;
  color: #e9c46a;
  background-color: #242423;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #e9c46a;
  color: #242423;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  min-width: -webkit-fill-available;
  background-color: #242423;
  padding: 10px 0;
  border-radius: 5px;
}

.nav-dropdown {
  color: #e9c46a;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav-dropdown:hover {
  background-color: #e9c46a;
  color: #242423;
}

.dropdown-menu.show {
  display: block;
}

li {
  list-style: none;
}

/* Media queries */
@media only screen and (max-width: 720px) {
  .nav-item {
    margin: 10px 0;
    font-size: small;
  }

  .nav-link {
    min-width: 10px;
    width: 19vw;
  }

  .nav-dropdown {
    padding: 10px;
  }
}

@media screen and (min-width: 372px) {
  .navbar-nav {
    flex-direction: row;
    margin-top: 1rem;
  }

  .nav-item {
    width: auto;
    height: auto;
  }
}
